extends layout

block title
  title Home

block content
  h2 About
  p #{title}
  h2 Rules
  p You are not allowed to attack other teams.
  h2 TODO
  p
    :markdown
      - フロントエンド設計ア
        - login後の本来行きたかったページへのリダイレクト
        - loginページのデザイン改善
      - （余力があれば）スコアボードのチャート
      - （余力があれば）チームページにd3jsで解いた問題のグラフ

