extends layout

block title
  title Scoreboard

block content
  h1 Scoreboard
  div.table-responsive
    table#scoreboard(class='table table-striped table-bordered')
      thead
        tr
          th Rank
          th Points
          th Team
      tbody
        each team in teams
          tr
            td.col-xs-1= team.rank
            td.col-xs-2= team.points
            td.col-xs-5= team.name
              //- a(href=team.path)= team.name

  //- highlight on focus
  script.
    $(function() {
      $('#scoreboard tbody tr').on('mouseover', function() {
        $(this).addClass('active');
      }).on('mouseout', function() {
        $(this).removeClass('active');
      });
    });
